:root {
  background-color: rgb(26, 26, 26);
}

#d1 {
  animation: fadeIn ease 1s;
}

#d2 {
  animation: fadeOut ease 1s;
}

#d3.fadeIn {
  animation: fadeIn ease 1s forwards;
}

#d3.fadeOut {
  animation: fadeOut ease 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

